<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
  <title>Angular Air</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="styles.css" />
</head>
<body ng-app="ngAir" ng-controller="MainCtrl as vm">
<a style="display:none" aria-hidden href="https://plus.google.com/104335210120652090229" rel="publisher">Google+</a>

<div id="content">
  <div id="logo" class="center">
    <img src="logo.png"/>
  </div>

  <section id="title" class="center">
    <h1>
      <a href="https://twitter.com/angularair">@AngularAir</a>
    </h1>

    <h2>
      AngularJS video podcast with
      <a href="https://twitter.com/toddmotto">Todd Motto</a> and
      <a href="https://twitter.com/kentcdodds">Kent C. Dodds</a>
    </h2>
  </section>

  <div class="big-gap"></div>

  <section id="hosts" class="clearfix">
    <div class="host">
      <a href="https://twitter.com/toddmotto">
        <img src="todd.png" alt="Todd Motto Profile Picture"/>
        <span class="host__name">Todd Motto</span>
      </a>
    </div>
    <div class="host">
      <a href="https://twitter.com/kentcdodds">
        <img src="kent.png" alt="Kent C. Dodds Profile Picture"/>
        <span class="host__name">Kent C. Dodds</span>
      </a>
    </div>
  </section>

  <section id="description" class="center">
    <p class="justify">
      Angular Air is a video podcast all about
      <a href="https://angularjs.org/">AngularJS</a> hosted by
      <a href="https://developers.google.com/experts/">Google Developer Expert</a>
      Todd Motto and <a href="https://egghead.io/">Egghead.io</a> instructor Kent C. Dodds.
    </p>
  </section>

  <section id="episodes">
    <hr/>
    <h2>Episodes</h2>

    <div ng-repeat="episode in vm.episodes" class="episode">
      <h3 class="episode__title">
        <a ng-href="{{::episode.hangoutUrl}}">{{::episode.title}}</a>
        <br/>
        <small>
          {{::episode.displayDate}}
          <span ng-if="::episode.time">
            {{::episode.time}}
          </span>
          <small ng-if="::!episode.time">
            (Time TBA)
          </small>
        </small>
      </h3>
      <div>
        <span ng-if="::episode.hangoutUrl">
          <a ng-href="{{::episode.hangoutUrl}}">Sign up here</a> to watch live!
        </span>
        <span ng-if="::!episode.hangoutUrl">
          Stay tuned for a hangouts link!
        </span>
      </div>
      <div ng-repeat="group in episode.guests" class="guests clearfix guests-{{::group.length}}">
        <div ng-repeat="guest in group" class="guest">
          <a ng-href="https://twitter.com/{{::guest.twitter}}">
            <img ng-src="episodes/{{::episode.date}}/{{::guest.twitter}}.png"
                 ng-class="::{'no-circle': guest.noCircle}"
                 alt="{{::guest.name}} Profile Picture"/>
            <span class="guest__name">{{::guest.name}}</span>
          </a>
        </div>
      </div>
      <div class="episode__description justify" ng-bind-html="::episode.description"></div>
      <div class="episode__sponsors" ng-if="::episode.sponsors.length">
        <h4>Episode Sponsor{{episode.sponsors.length > 1 ? 's' : ''}}</h4>
        <div ng-repeat="group in episode.sponsors" class="guests clearfix guests-{{::group.length}}">
          <div ng-repeat="sponsor in group" class="guest">
            <a ng-href="{{sponsor.website}}">
              <img ng-src="episodes/{{::episode.date}}/{{::sponsor.name}}.png"
                   ng-class="::{'no-circle': sponsor.noCircle}"
                   alt="{{::sponsor.name}} Logo"/>
              <span class="guest__name">{{::sponsor.name}}</span>
            </a>
          </div>
        </div>
        <div class="episode__description justify" ng-bind-html="::episode.sponsorship"></div>
      </div>
      <div class="episode__qa justify">
        <h4>Q&A</h4>
        <small>
          We'll choose some of these questions to answer during the show!
          <a ng-href="{{::episode.moderatorUrl}}">Ask / vote away!</a>
          Note: If your question doesn't relate to this particular show, please use the
          <a ng-href="{{::vm.generalModeratorUrl}}">General Q&A</a> to ask those questions.
        </small>

        <div class="moderator-embed-container">
          <div ng-if="::episode.moderatorUrl">
            <moderator-embed moderator-url="{{::episode.moderatorUrl}}"></moderator-embed>
          </div>
          <div ng-if="::!episode.moderatorUrl">
            Stay tuned for a moderator Q&A to be posted.
          </div>
        </div>

      </div>
      <hr/>
    </div>
  </section>

  <section id="past-episodes" class="episode">
    <h2>Past Episodes</h2>
    <ul>
      <li ng-repeat="episode in ::vm.pastEpisodes">
        <a ng-href="{{::episode.hangoutUrl}}">{{::'Episode ' + $index + ': ' + episode.title}}</a>
        <small ng-if="::episode.sponsors">
          Sponsored by:
          <span ng-repeat="group in ::episode.sponsors">
            <span ng-repeat="sponsor in ::group">
              {{::!$first && $last ? ' and ' : ''}}<a ng-href="{{::sponsor.website}}">{{::sponsor.name}}</a>{{::!$last ? ',' : ''}}
            </span>
          </span>
        </small>
      </li>
    </ul>
    <hr/>
  </section>

  <section class="center">
    <p>
      Follow AngularAir on <a href="https://twitter.com/angularair">Twitter</a>
      and <a href="https://plus.google.com/u/0/104335210120652090229/posts">Google+</a>
      <br/>
    </p>
  </section>

  <section id="q-a">
    <hr/>
    <h3>Participate</h3>

    <small class="text-muted justify">
      If you have a question that doesn't relate to any particular show, ask them here!
    </small>

    <div class="moderator-embed-container">
      <moderator-embed moderator-url="{{::vm.generalModeratorUrl}}"></moderator-embed>
    </div>

  </section>
</div>

<script src="markdown.min.js"></script>
<script src="moderator-embed-api.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.min.js"></script>

<script src="script.js"></script>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-56527541-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
</body>
</html>
