<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <title>Angular Air</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css" />
  <style>
    .ng-cloak {
      display: none
    }
  </style>
</head>

<body ng-app="ngAir" ng-controller="MainCtrl as vm">
  <a style="display:none" aria-hidden href="https://plus.google.com/104335210120652090229" rel="publisher">Google+</a>
  <div ng-if="::false" class="center" style="margin-top:80px;margin-bottom:80px;">
    <h1>Loading Angular Air...</h1>
  </div>
  <div id="content" class="ng-cloak">
    <div id="logo" class="center">
      <img src="ng-air-logo-light.png" />
    </div>

    <section id="title" class="center">
      <h1>AngularAir</h1>

      <h2>
        A <strong>live</strong> videocast all about Angular<br />
        <subscribe-icon icon="youtube" network="YouTube" link="https://www.youtube.com/c/AngularAirPodcast"></subscribe-icon>
      </h2>
    </section>

    <hr />

    <section id="podcast-links" class="center">
      Audio available at:<br />
      <subscribe-icon icon="apple" network="iTunes" link="https://itunes.apple.com/us/podcast/angular-air/id940806858?mt=2"></subscribe-icon>
      <subscribe-icon icon="rss" network="RSS" link="http://angularair.podbean.com/feed/"></subscribe-icon>
    </section>

    <hr/>


    <section id="episodes">
      <h2>Upcoming Episodes</h2>

      <div ng-repeat="episode in vm.episodes" class="episode">
        <a ng-if="episode.number > 0" id="episode-{{::episode.number}}"></a>
        <div class="main-episode-content">
          <h3 class="episode__title">
            <a ng-href="{{::episode.hangoutUrl}}">{{::episode.title}}</a>
            <br/>
            <small>
            {{::episode.displayDate}}
            <span ng-if="::episode.time">
              {{::episode.time}}
            </span>
            <small ng-if="::!episode.time">
              (Time TBA)
            </small>
            </small>
          </h3>
          <div class="hangouts-url">
            <span ng-if="::episode.hangoutUrl">
            <a ng-href="{{::episode.hangoutUrl}}">Head here</a> to watch live!
          </span>
            <span ng-if="::!episode.hangoutUrl">
            Stay tuned for a YouTube link!
          </span>
          </div>
          <div ng-if="::episode.hasNotes" class="notes">
            <a ng-click="episode.notesAreVisible = !episode.notesAreVisible" class="toggle">
            Notes ({{episode.notesAreVisible ? 'click to hide' : 'click to show'}})
          </a>
            <div class="episode__notes justify" ng-style="{'display': episode.notesAreVisible ? 'block' : 'none'}" ng-bind-html="::episode.notes"></div>
          </div>
          <person-group groups="episode.guests"></person-group>
        </div>
        <div class="episode__description justify" ng-bind-html="::episode.description"></div>
        <div class="episode__sponsors" ng-if="::episode.sponsors.length">
          <h4>Episode Sponsor{{episode.sponsors.length > 1 ? 's' : ''}}</h4>
          <person-group groups="episode.sponsors"></person-group>
          <div class="episode__description justify" ng-bind-html="::episode.sponsorship"></div>
        </div>
        <hr ng-if="!$last" />
      </div>
    </section>

    <hr/>

    <section id="sponsors">

      <h2>Sponsors</h2>

      <h3>Premier Sponsor</h3>

      <a href="https://swish.com" title="Swish Spending Tracker App">
      <img
              style="width: 200px;margin: 40px auto 0;display: block;"
              src="https://app.swish.com/assets/images/logos/swish-logo-200x200.png"
              alt="Swish Spending Tracker App">
      <p style="font-size: 18px;text-align:center">
        Swish Spending Tracker App
      </p>
    </a>

    </section>

    <hr/>

    <section id="past-episodes" class="episode">
      <h2>Past Episodes</h2>
      <ul>
        <li ng-repeat="episode in ::vm.pastEpisodes">
          <a ng-if="episode.number > 0" id="episode-{{::episode.number}}"></a>
          <a ng-href="{{::episode.hangoutUrl}}">Episode{{episode.number > 0 ? ' ' + episode.number : ''}}: {{::episode.title}}</a>
          <small ng-if="::episode.sponsors">
          Sponsored by:
          <span ng-repeat="group in ::episode.sponsors">
            <span ng-repeat="sponsor in ::group">
              {{::!$first && $last ? ' and ' : ''}}<a ng-href="{{::sponsor.website}}">{{::sponsor.name}}</a>{{::!$last ? ',' : ''}}
            </span>
          </span>
        </small>
          <div ng-if="::episode.hasNotes" class="notes">
            <a ng-click="episode.notesAreVisible = !episode.notesAreVisible" class="toggle">
            Notes ({{episode.notesAreVisible ? 'click to hide' : 'click to show'}})
          </a>
            <div class="episode__notes justify" ng-style="{'display': episode.notesAreVisible ? 'block' : 'none'}" ng-bind-html="::episode.notes"></div>
          </div>
        </li>
      </ul>
    </section>

    <hr/>



    <section class="clearfix">
      <h2>Host</h2>
      <person-group groups="vm.hosts"></person-group>
    </section>

    <hr/>

    <section id="panelists">
      <h2>Panelists</h2>
      <person-group groups="vm.panelists"></person-group>
      <div class="center">
        AngularAir has a panel of some of the most awesome Angular developers the community has to offer.
        Btw, if you are going to be at <a href="https://sketchpoints.io/ngconf2018">ng-conf 2018</a>, make
        sure you check out the talk <a href="https://sketchpoints.io/ngconf2018/super-powered-server-rendered-progressive-native-apps">Super-Powered, Server-Rendered Progressive Native Apps</a>.
      </div>
    </section>

    <hr/>

    <section class="center">
      <link-icon icon="twitter" link="https://twitter.com/angularair" title="Angular Air on Twitter"></link-icon>
      <link-icon icon="google-plus" link="https://plus.google.com/u/0/+AngularAirPodcast/posts" title="Angular Air on Google+"></link-icon>
    </section>

  </div>


  <script type="text/ng-template" id="person-group-template.html">
    <div ng-repeat="group in vm.groups" class="group clearfix group-{{group.length}}">
      <div ng-repeat="person in group" class="person" person="person"></div>
    </div>
  </script>

  <script type="text/ng-template" id="person-template.html">
    <a ng-href="https://twitter.com/{{::vm.person.twitter}}">
    <img ng-src="{{::vm.person.avatar}}"
         ng-class="::{'no-circle': vm.person.noCircle}"
         alt="{{::vm.person.name}} Profile Picture"/>
    <span class="person__name">
      <span class="person__name__name">{{::vm.person.name}}</span>
      <small class="person__name__twitter">@{{::vm.person.twitter}}</small>
    </span>
  </a>
  </script>

  <script src="markdown.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>

  <script src="script.js?v=4"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-56527541-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</body>

</html>
