

/* phone */
@media only screen and (max-width: 767px) {
  body {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.6;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .big-gap {
    margin-top: 30px;
  }

  #logo img {
    max-width: 120px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 12px;
  }


  #hosts, .guests {
    margin-top: 20px;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .guests-4 {
    max-width: 420px;
  }

  .guests-3 {
    max-width: 310px;
  }

  .guests-1 {
    max-width: 90px;
  }

  .host, .guest {
    padding-left: 10px;
    padding-right: 10px;
  }

  .host:first-child, .guest:first-child {
    padding-left: 0;
  }

  .host:last-child, .guest:last-child {
    padding-right: 0;
  }

  .host img, .guest img {
    max-width: 90px;
  }

  .host__name, .guest__name {
    font-size: 10px;
  }

  #questions {
    font-size: 10px;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    font-size: 23px;
    line-height: 2;
  }

  hr {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .big-gap {
    margin-top: 80px;
  }

  #logo img {
    margin-top: 20px;
    max-width: 300px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  #hosts, .guests {
    margin-top: 40px;
    max-width: 400px;
    margin-bottom: 40px;
  }

  .guests-4 {
    max-width: 840px;
  }

  .guests-3 {
    max-width: 620px;
  }

  .guests-1 {
    max-width: 180px;
  }

  .host, .guest {
    padding-left: 20px;
    padding-right: 20px;
  }

  .host:first-child, .guest:first-child {
    padding-left: 0;
  }

  .host:last-child, .guest:last-child {
    padding-right: 0;
  }

  .host img, .guest img {
    max-width: 180px;
  }

  .host__name, .guest__name {
    font-size: 20px;
  }

  #questions {
    font-size: 20px;
  }

}

/* shared */
body {
  color: #303030;
  font-family: 'helvetica neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #fdfdfd;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: #8c0c12;
}

a:hover, a:focus {
  color: #be0409;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

h3 small {
  color: #7c7c7c;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

#logo img {
  width: 100%;
}

h1 {
  margin: 0 20px 20px;
}

h2 {
  color: #3d3d3d;
}

#hosts, .guests {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.host, .guest {
  float: left;
}

.host:first-child, .guest:first-child {
  text-align: right;
}

.host:last-child, .guest:last-child {
  text-align: left;
}

.host img:not(.no-circle), .guest img:not(.no-circle) {
  border-radius: 50%;
}

#description {
}

.host__name, .guest__name {
  display: block;
  text-align: center;
}

.episode__qa, .episode__sponsors {
  margin-top: 40px;
}

.moderator-embed-container {
  margin: 20px 0;
}

