/*now that styles are loading, switch these*/
.hide-without-styles.show {
  display: block;
}
.show-without-styles {
  display: none;
}

/* phone */
@media only screen and (max-width: 767px) {
  body {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.6;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .big-gap {
    margin-top: 10px;
  }

  #logo img {
    max-width: 120px;
    min-height: 120px;
  }

  h1, .link-icon {
    font-size: 40px;
    line-height: 46px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 12px;
  }

  #host {
    max-width: 90px;
  }

  .group {
    margin-top: 20px;
    max-width: 200px;
    margin-bottom: 20px;
  }

  .group-4 {
    max-width: 420px;
  }

  .group-3 {
    max-width: 310px;
  }

  .group-1 {
    max-width: 90px;
  }

  .host, .person {
    padding-left: 10px;
    padding-right: 10px;
  }

  .host:first-child, .person:first-child {
    padding-left: 0;
  }

  .host:last-child, .person:last-child {
    padding-right: 0;
  }

  .host img, .person img {
    max-width: 90px;
  }

  .person__name {
    font-size: 10px;
  }

  .person__name__twitter {
    margin-top: -4px;
  }

  .link-icon {
    margin: 0 14px;
  }

  #t-spring img {
    height: 150px;
  }

}

/* Desktop */
@media only screen and (min-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    font-size: 23px;
    line-height: 2;
  }

  hr {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .big-gap {
    margin-top: 20px;
  }

  #logo img {
    margin-top: 20px;
    max-width: 300px;
    min-height: 300px;
  }

  h1, .link-icon {
    font-size: 80px;
    line-height: 90px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  #host {
    max-width: 180px;
  }

  .group {
    margin-top: 40px;
    max-width: 400px;
    margin-bottom: 40px;
    text-align: center;
  }

  .group-4 {
    max-width: 840px;
  }

  .group-3 {
    max-width: 620px;
  }

  .group-1 {
    max-width: 180px;
  }

  .host, .person {
    padding-left: 20px;
    padding-right: 20px;
  }

  .host:first-child, .person:first-child {
    padding-left: 0;
  }

  .host:last-child, .person:last-child {
    padding-right: 0;
  }

  .host img, .person img {
    max-width: 180px;
  }

  .person__name {
    font-size: 20px;
  }

  .person__name__twitter {
    margin-top: -10px;
  }

  .link-icon {
    margin: 0 28px;
  }

}

/* shared */
body {
  color: #303030;
  font-family: 'helvetica neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #fdfdfd;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
  color: #8c0c12;
}

a:hover, a:focus {
  color: #be0409;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

h3 small {
  color: #7c7c7c;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

#logo img {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 40px 0 40px;
}

h2 {
  color: #3d3d3d;
}

#t-spring img:first-child {
  margin-right: 10px;
}


#t-spring img:last-child {
  margin-left: 10px;
}


#host, .group {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.host, .person {
  float: left;
}

.host:first-child, .person:first-child {
  text-align: right;
}

.host:last-child, .person:last-child {
  text-align: left;
}

.host img:not(.no-circle), .person img:not(.no-circle) {
  border-radius: 50%;
}

.link-icon {
  display: inline;
}


#description {
}

.person__name {
  display: block;
  text-align: center;
}

.person__name__name {
  display: block;
}

.person__name__twitter {
  display: block;
}

.episode__qa, .episode__sponsors {
  margin-top: 40px;
}

.no-decorate,
.no-decorate:focus,
.no-decorate:active,
.no-decorate:hover {
  text-decoration: none;
}

/*Flex stuff*/

.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
