<div id="logo" class="center">
  <img src="assets/logo.png" />
</div>

<section id="title" class="center">
  <h1>AngularAir</h1>
  <h2>
    A <strong>live</strong> video podcast all about Angular
  </h2>
  <p>
    Brought to you by
    <a href="https://auth0.com/learn/angular-authentication/?utm_source=angular_air&utm_medium=sponsored_link&utm_campaign=target_angular">Auth0</a>,
    <a href="http://angularclass.com">AngularClass</a> and <a href="#sponsors">others</a>
  </p>
</section>
<hr />
<section id="podcast-links" class="center">
  <app-subscribe-icon icon="apple" network="iTunes" link="https://itunes.apple.com/us/podcast/angular-air/id940806858?mt=2"></app-subscribe-icon>
  <app-subscribe-icon icon="youtube" network="YouTube" link="https://www.youtube.com/c/AngularAirPodcast"></app-subscribe-icon>
  <app-subscribe-icon icon="rss" network="RSS" link="http://angularair.podbean.com/feed/"></app-subscribe-icon>
</section>
<hr/>